# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Cobertura / builds
coverage
dist
build

# SO / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
